In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [5]:
! ls -lh ../data/processed

total 67952
-rw-r--r--@ 1 anthony  staff   4.0M Feb 11 14:18 climateWithEmbeds.parquet
-rw-r--r--@ 1 anthony  staff    26M Feb 11 14:34 filteredAbcNewsWithEmbeds.parquet
-rw-r--r--@ 1 anthony  staff   2.8M Feb 11 15:56 naturewithembeds.parquet
-rw-r--r--@ 1 anthony  staff    55K Feb 11 16:30 newswithoutembeds.parquet

In [33]:
paths = {
    "climate-db": "climateWithEmbeds.parquet",
    "abc": "filteredAbcNewsWithEmbeds.parquet",
    "nature": "naturewithembeds.parquet",
    "news-api": "newswithoutembeds.parquet",
}

dfs = {
    name: pd.read_parquet(f"../data/processed/{path}") for name, path in paths.items()
}

for name in dfs.keys():
    dfs[name]["source"] = name

df = pd.concat(dfs.values(), ignore_index=True)
df["date"] = pd.to_datetime(df["date"])
# there are 642 articles in climate-db that are empty
df = df[["source", "date", "headline", "embedding", "url"]].dropna()
# sort by source, date, and headline; assign a unique id
df = df.sort_values(["source", "date", "headline"]).reset_index(drop=True)
df.insert(0, "id", df.index)
df.head()

,id,source,date,headline,embedding,url
0,0,abc,2003-02-19,a g calls for infrastructure protection summit,"[0.42550426721572876, 0.5782315135002136, 0.09...",null
1,1,abc,2003-02-19,epa still trying to recover chemical clean up ...,"[0.33238619565963745, -0.3517177700996399, 0.5...",null
2,2,abc,2003-02-19,expressions of interest sought to build livestock,"[0.4847770035266876, 0.10000099241733551, -0.0...",null
3,3,abc,2003-02-19,iraq to pay for own rebuilding white house,"[0.4847399592399597, 0.20435450971126556, 0.19...",null
4,4,abc,2003-02-19,meeting to focus on broken hill water woes,"[0.3507457375526428, 0.43837735056877136, -0.0...",null

In [34]:
df.to_parquet("../data/processed/news-consolidated-v1.parquet", index=False)

In [36]:
! ls -lh ../data/processed

total 131624
-rw-r--r--@ 1 anthony  staff   4.0M Feb 11 14:18 climateWithEmbeds.parquet
-rw-r--r--@ 1 anthony  staff    26M Feb 11 14:34 filteredAbcNewsWithEmbeds.parquet
-rw-r--r--@ 1 anthony  staff   2.8M Feb 11 15:56 naturewithembeds.parquet
-rw-r--r--@ 1 anthony  staff    31M Feb 11 17:26 news-consolidated-v1.parquet
-rw-r--r--@ 1 anthony  staff    55K Feb 11 16:30 newswithoutembeds.parquet